models/

save_binarycodes_paths_labels_new/
segmentations/
static/
sam_vit_h_4b8939.pth
segmentation_features_dhn.csv

# Ignore common large file types
*.pth
*.pt
*.weights
*.onnx
*.h5
*.bin
*.model
*.csv
*.zip
*.tar.gz

# Model / data binaries you don't want in Git
*.safetensors
*.npy
*.npz

# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

filter_env/
