services:
  mongodb_migration:
    build:
      context: .
      dockerfile: Dockerfile.migration
    image: geo_datamigration
    container_name: vanguard-certh-mcag-migration
    volumes:
      - ./migrate_to_mongodb.py:/app/migrate_to_mongodb.py
      - ./data/input:/app/data
    working_dir: /app
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/
      - MONGODB_DATABASE=geolocation_db
      - SEGMENTATION_DB_DHN=/app/data/segmentation_features_dhn.csv
      - DB_BINARY_PATH=/app/data/save_binarycodes_paths_labels_new/airbnb_14countries_trainedinwholedata_database_binary.npy
      - DB_LABELS_PATH=/app/data/save_binarycodes_paths_labels_new/airbnb_14countries_trainedinwholedatabase_128bits_0.6296_database_labelspaths.ob
      # - DB_BINARY_PATH=/app/data/save_binarycodes_paths_labels_new/airbnb_15countries_trainedinwholedata_database_binary.npy
      # - DB_LABELS_PATH=/app/data/save_binarycodes_paths_labels_new/airbnb_15countries_trainedinwholedatabase_128bits_0.6296_database_labelspaths.ob
    depends_on:
      mongodb:
        condition: service_healthy
    restart: on-failure


  llava_app:
    build:
      context: .
      dockerfile: Dockerfile
    image: llava_app  
    container_name: mca-g-llava-app
    restart: unless-stopped 
    init: true
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - CUDA_VISIBLE_DEVICES=0
      - DEBIAN_FRONTEND=noninteractive
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - MONGODB_URI=mongodb://mongodb:27017/
      - MONGODB_DATABASE=geolocation_db
      - TRANSFORMERS_OFFLINE=1
      - CLIP_MODEL_DIR=/app/clip-vit-large-patch14-336
    volumes:
      - ./models/llava-v1.6-mistral-7b:/app/llava-v1.6-mistral-7b
      - ./models/deit-base-distilled-patch16-384:/app/deit-base-distilled-patch16-384
      - ./models/clip-vit-large-patch14-336:/app/clip-vit-large-patch14-336
      - ./app:/app/app
      - ./requirements.txt:/app/requirements.txt
      - ./run.py:/app/run.py
      - ./data/input/material_per_country.png:/app/static/material_per_country.png
      - ./data/output/static:/app/static
      - ./app/static/style.css:/app/static/style.css
      - ./data/input/segmentations:/app/segmentations
      - ./models/hash-models/airbnb_14countries_train_database_128bits_0.6296825813840561:/app/airbnb_14countries_train_database_128bits_0.6296825813840561
      - ./models/hash-models/DHN_airbnb_14countries_512bits_0.3558918258844033:/app/DHN_airbnb_14countries_512bits_0.3558918258844033

    working_dir: /app
    ports:
      - "5006:5000"
    command: ["python3", "-u", "./run.py"]
    depends_on:
      mongodb_migration:
        condition: service_completed_successfully
      materobot:
        condition: service_started
    networks:
      - default

  materobot:
    build:
      context: ./MATERobot
      dockerfile: Dockerfile.materobot
    container_name: mca-g-materobot
    image: materobot_app
    restart: unless-stopped 
    init: true
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
      - CUDA_VISIBLE_DEVICES=0
      - DEBIAN_FRONTEND=noninteractive
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    volumes:
      - ./MATERobot:/app/MATERobot
      - ./data/output/static:/app/static
      - ./data/input/average_material_scores_per_country.csv:/app/average_material_scores_per_country.csv

    working_dir: /app/MATERobot
    command: ["conda", "run", "-n", "materobot_env", "--no-capture-output", "python3", "-u", "materobot_app.py"]

  langsam:
    build:
      context: ./LangSAM
      dockerfile: Dockerfile.langsam
    container_name: mca-g-langsam
    image: langsam_app
    restart: unless-stopped 
    init: true
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
      - CUDA_VISIBLE_DEVICES=0
    volumes:
      - ./data/output/static:/app/static
      - ./models/sam-checkpoints:/root/.cache/torch/hub/checkpoints
      - ./models/grounding-dino-base:/app/grounding-dino-base
      - ./data/input/segmentations:/app/segmentations
      - ./LangSAM/app.py:/app/app.py
      - ./LangSAM/langsam_logic.py:/app/langsam_logic.py
      - ./LangSAM/Dockerfile.langsam:/app/Dockerfile.langsam
      - ./LangSAM/requirements.txt:/app/requirements.txt
    depends_on:
      - llava_app

  mongodb:
    image: mongo:latest
    container_name: mca-g-mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    environment:
      - MONGO_INITDB_DATABASE=geolocation_db
    command: ["mongod", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 20s

volumes:
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local


