llava-v1.6-mistral-7b/
segmentations/
airbnb_14countries_train_database_128bits_0.6296825813840561/
clip-vit-large-patch14-336/
deit-base-distilled-patch16-384/
DHN_airbnb_14countries_512bits_0.3558918258844033/
grounding-dino-base/
sam2.1_hiera_small.pt/
save_binarycodes_paths_labels_new/
static/


segmentation_features_dhn.csv
sam-checkpoint/ 
filter_env/
.git/

__pycache__/
*.pyc
.vscode/
*.log
.env
